<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Cue</title>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="no-connection-error">
        <h1>No Eos Connection</h1>
        <p>Please ensure EOS is running and has OSC TX enabled on the same network.</p>
    </div>
    <div id="cue-info">
        <div id="active">
    <h1 id="title">Current Eos Cue: 
    </h1>
    <br>
    <h2 id="cue">No Eos Connection</h2>
    </div>
    <p id="pending">No Eos Connection</p>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>